name: super-linter

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  statuses: write

jobs:
  lint:
    name: Lint Code Base
    uses: mudman1986/mudman-reusable/.github/workflows/reusable-super-linter.yml@main
    with:
      validate-all-codebase: true
      default-branch: main
